<slave_config>
    <slaveserver>
        <name>master</name>
        <hostname>{{ cartehostname }}</hostname>
        <port>{{ carteport }}</port>
        <master>Y</master>
    </slaveserver>
</slave_config>
